<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Two Snakes!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <%= stylesheet_link_tag "application", media: "all", data: {turbolinks_track: true } %>
    <%= javascript_include_tag "application", data: {turbolinks_track: true } %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="/">Two Snakes!</a>
          <% if logged_in? %>
            <div id="account-nav" class="pull-right">
              <ul class="nav">
                <li><%= link_to 'Log out', session_path, method: :delete, class: 'btn btn-link' %></li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
      <div id="main" class="row-fluid">
        <% flash.each do |context, message| %>
          <%= alert_box message, context: context %>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
  </body>
</html>
